.contact-heading-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--heading);
}
.contact-heading-text {
  font-size: 16px;
  color: var(--text);
  margin: 14px 0 32px;
}
.contact-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--heading);
}
.contact-text {
  font-size: 16px;
  font-weight: 600;
  color: var(--heading);
  margin-top: 4px;
}
input,
textarea {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 12px 20px !important;
  font-size: 14px !important;
}
::placeholder {
  color: red;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}
.send-msg-btn {
  margin-top: 20px;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 12px 30px;
  border-radius: 50px;
  font-size: 18px;
  background-color: var(--primary) !important;
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: white;
  transition: 0.2s;
}
.send-msg-btn:hover {
  background-color: transparent !important;
  color: var(--primary);
}
