@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@300;400;500;700;900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Righteous", cursive;
  font-family: "Roboto", sans-serif;
}

:root {
  /* --primary: #26ae60; */
  --primary: #ff305b;
}
