/* Customize swiper-slider button color */
.swiper-pagination-bullet {
  background-color: var(--primary) !important;
}

/* Header.js */
.nav-brand {
  color: var(--heading);
  font-size: 16px;
  font-weight: 800;
}
.nav-link:hover {
  color: var(--primary);
}
.nav-link:focus {
  color: var(--primary);
}

.header-btn {
  background-color: blueviolet;
  color: white;
}

/* Banner.js */
.section-title {
  font-family: var(--jostFont);
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  /* text-transform: uppercase; */
  color: var(--heading);
  margin-bottom: 10px;
}
.section-title span {
  color: var(--primary);
}
.heading-underline-a {
  margin: 0 auto;
  width: 100px;
  height: 3px;
  background-color: red;
}
.heading-underline-b {
  margin: 3px auto;
  width: 70px;
  height: 3px;
  background-color: red;
}
.banner-title {
  font-family: var(--jostFont);
  font-weight: 500;
  font-size: 50px;
  color: var(--heading);
  text-transform: uppercase;
  margin: 5px 0;
}
.banner-subtitle {
  font-family: var(--jostFont);
  font-weight: 500;
  font-size: 22px;
  color: var(--primary);
}
.banner-text {
  font-size: 16px;
  color: var(--text);
  margin: 16px 0 20px 0;
}
.banner-designation {
  font-family: var(--jostFont);
  font-size: 20px;
  font-weight: 500;
  color: var(--heading);
}
.greenText {
  color: var(--green);
}
.purpleText {
  color: var(--purple);
}
.icon-bg {
  display: inline-flex;
  color: #2b2a2a;
  font-size: 17px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.5s;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}
.icon-bg:hover {
  background-color: var(--primary);
  color: whitesmoke;
}
.resume-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 8px 28px;
  border-radius: 30px;
  font-size: 16px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: white;
  transition: 0.5s;
}
.resume-btn:hover {
  background-color: transparent;
  color: var(--primary);
}
.about-me-btn {
  /* margin-top: 20px; */
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 10px 26px;
  border-radius: 50px;
  font-size: 16px;
  background-color: var(--primary);
  font-family: var(--jostFont);
  color: white;
  transition: 0.1s;
  /* box-shadow: 0px 23px 44px 1px rgba(255, 124, 106, 0.48);
  -webkit-box-shadow: 0px 23px 44px 1px rgba(255, 109, 109, 0.48);
  -moz-box-shadow: 0px 23px 44px 1px rgba(255, 109, 109, 0.48); */
}

.banner-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
}
.banner-img-div::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 6px solid var(--primary);
  border-right: 6px solid var(--primary);
  right: -25px;
  bottom: -25px;
}
.banner-img-div::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 6px solid var(--primary);
  border-left: 6px solid var(--primary);
  left: -28px;
  top: -25px;
}

/* Project.js */
.project-toggle-btn {
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--green);
  font-family: var(--jostFont);
  color: var(--green);
}
.project-toggle-btn-active {
  background-color: var(--green);
  border: 1px solid transparent;
  color: white;
}
.project-card {
  background-color: white;
  padding: 14px 16px 8px 16px;
  border-radius: 10px;
  text-align: center;
}
.project-title {
  font-family: var(--jostFont);
  font-size: 20px;
  font-weight: 500;
  color: var(--heading);
  margin: 10px 0 4px;
}
.project-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--text);
}
.project-badge {
  background-color: #f8f6ff;
  color: var(--purple);
  font-size: 11px;
  font-weight: 500;
  padding: 4px 12px;
  border-radius: 30px;
}
.project-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  gap: 3px;
  border-radius: 50px;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid var(--green);
  font-family: var(--jostFont);
  color: var(--green);
  transition: 0.2s;
}
.project-btn:hover {
  background-color: var(--green);
  color: white;
}
.explore-btn {
  display: block;
  width: 100%;
  align-items: center;
  padding: 8px 18px;
  border-radius: 50px;
  font-size: 16px;
  background-color: var(--purple);
  font-family: var(--jostFont);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}
/* .explore-btn:hover {
  background-color: var(--primary);
} */
.project-footer-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--jostFont);
  color: var(--primary);
  font-weight: 16px;
  font-weight: 500;
}

/* Contact.js */
.contact-heading-title {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--heading);
}
.contact-heading-text {
  font-size: 16px;
  color: var(--text);
  margin: 14px 0 32px;
}
.contact-title {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 400;
  color: var(--heading);
}
.contact-text {
  font-size: 16px;
  font-weight: 600;
  color: var(--heading);
  margin-top: 4px;
}
input,
textarea {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 12px 20px !important;
  font-size: 14px !important;
}
::placeholder {
  color: red;
}
input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--primary);
}
.send-msg-btn {
  margin-top: 20px;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 10px 26px;
  border-radius: 50px;
  font-size: 16px;
  background-color: var(--primary) !important;
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: white;
  transition: 0.2s;
}
.send-msg-btn:hover {
  background-color: transparent !important;
  color: var(--primary);
}

/* Footer.js */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--jostFont);
  background-color: var(--greyBg);
  height: 130px;
}

/* Sections */
.service-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--heading);
  margin: 16px 0 12px;
}
.service-desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
}
.skill-title {
  text-align: center;
  font-family: var(--jostFont);
  color: var(--primary);
  font-size: 20px;
  font-weight: 400;
}
.skill-title-underline {
  margin: 0 auto;
  width: 30px;
  height: 3px;
  background-color: red;
}
.skill-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--bgColor);
  padding: 16px 0;
  border-radius: 8px;
  cursor: pointer;
}
.skill-item-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--heading);
}
.skill-item-icon {
  width: 20px;
}

/* About Section */
.about-title {
  font-family: var(--jostFont);
  font-size: 23px;
  font-weight: 500;
  color: var(--heading);
}
.about-title span {
  color: var(--primary);
}
.about-desc {
  margin: 12px 0 18px;
  font-size: 16px;
  color: var(--text);
}
.about-bullet {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
  color: var(--heading);
  margin-bottom: 8px;
}
.about-bullet span {
  font-weight: 700;
}
.resume-outline-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 8px 28px;
  border-radius: 30px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: var(--primary);
  transition: 0.5s;
}
.resume-outline-btn:hover {
  background-color: var(--primary);
  color: white;
}

/* Project Modal */
.project-desc {
  font-size: 14px;
  color: var(--text);
}
.features-title {
  font-size: 15px;
  font-weight: 700;
  color: var(--heading);
  margin-bottom: 5px;
}
.features-bullet {
  font-size: 14px;
  color: var(--text);
  padding: 6px 0;
  list-style: circle;
}

@media screen and (max-width: 576px) {
  .banner-title {
    font-size: 38px;
    margin: 10px 0;
  }
  .banner-subtitle {
    font-size: 18px;
  }
  .banner-text {
    font-size: 16px;

    margin: 16px 0 20px 0;
  }
  .banner-designation {
    font-size: 18px;
  }
  .banner-left {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
