/* Customize swiper-slider button color */
.swiper {
  padding-bottom: 40px !important;
}
.swiper-pagination-bullet {
  background-color: var(--primary) !important;
}

/* Header.js */
.nav-brand {
  color: var(--heading);
  font-family: "Charmonman", cursive;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}
.nav-brand span {
  color: var(--primary);
}
.nav-items {
  font-size: 16px;
  color: var(--heading);
  font-family: var(--jostFont);
  cursor: pointer;
}
.nav-items:hover {
  color: var(--primary);
}
.nav-items-active {
  color: var(--primary);
}
.header-btn {
  background-color: blueviolet;
  color: white;
}

/* Banner.js */
.section-title {
  font-family: var(--jostFont);
  font-size: 38px;
  font-weight: 500;
  text-align: center;
  /* text-transform: uppercase; */
  color: var(--heading);
  margin-bottom: 10px;
}
.section-title span {
  color: var(--primary);
}
.heading-underline-a {
  margin: 0 auto;
  width: 100px;
  height: 2px;
  background-color: var(--primary);
  border: none;
}
.heading-underline-b {
  margin: 3px auto;
  width: 70px;
  height: 2px;
  background-color: var(--primary);
  border: none;
}
.banner-title {
  font-family: var(--jostFont);
  font-weight: 500;
  font-size: 50px;
  color: var(--heading);
  text-transform: uppercase;
  margin: 5px 0;
}
.banner-subtitle {
  font-family: var(--jostFont);
  font-weight: 500;
  font-size: 22px;
  color: var(--primary);
}
.banner-text {
  font-size: 16px;
  color: var(--text);
  margin: 16px 0 20px 0;
}
.banner-designation {
  font-family: var(--jostFont);
  font-size: 20px;
  font-weight: 500;
  color: var(--heading);
}
.greenText {
  color: var(--green);
}
.purpleText {
  color: var(--purple);
}
.icon-bg {
  display: inline-flex;
  color: #2b2a2a;
  font-size: 17px;
  padding: 10px;
  border-radius: 50px;
  transition: 0.5s;
  background: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}
.icon-bg:hover {
  background-color: var(--primary);
  color: whitesmoke;
}

.resume-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 8px 28px;
  border-radius: 30px;
  font-size: 16px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: white;
  cursor: pointer;
  transition: 0.5s;
}
.resume-btn:hover {
  background-color: transparent;
  color: var(--primary);
}
.about-me-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 10px 26px;
  border-radius: 50px;
  font-size: 16px;
  background-color: var(--primary);
  font-family: var(--jostFont);
  color: white;
  transition: 0.5s;
}

.banner-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
}
.banner-img-div::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 6px solid var(--primary);
  border-right: 6px solid var(--primary);
  right: -25px;
  bottom: -25px;
}
.banner-img-div::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 6px solid var(--primary);
  border-left: 6px solid var(--primary);
  left: -28px;
  top: -25px;
}

/* About Section */
.about-title {
  font-family: var(--jostFont);
  font-size: 23px;
  font-weight: 500;
  color: var(--heading);
}
.about-title span {
  color: var(--primary);
}
.about-desc {
  margin: 12px 0 18px;
  font-size: 16px;
  color: var(--text);
}
.about-bullet {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  font-weight: 500;
  color: var(--heading);
  margin-bottom: 8px;
}
.about-bullet span {
  font-weight: 700;
}
.resume-outline-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 8px 28px;
  border-radius: 30px;
  font-size: 16px;
  background-color: transparent;
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: var(--primary);
  transition: 0.5s;
}
.resume-outline-btn:hover {
  background-color: var(--primary);
  color: white;
}

/* Services/Skills Sections */
.service-title {
  font-size: 18px;
  font-weight: 700;
  color: var(--heading);
  margin: 16px 0 12px;
}
.service-desc {
  font-size: 14px;
  font-weight: 400;
  color: var(--text);
}
.skill-title {
  text-align: center;
  font-family: var(--jostFont);
  color: var(--primary);
  font-size: 20px;
  font-weight: 400;
}
.skill-title-underline {
  margin: 0 auto;
  width: 30px;
  height: 3px;
  background-color: red;
  border: none;
}
.skill-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: var(--bgColor);
  padding: 16px 0;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}
.skill-item-container:hover {
  transform: translateX(0px) translateY(-8px);
}
.skill-item-title {
  font-size: 14px;
  font-weight: 700;
  color: var(--heading);
}
.skill-item-icon {
  width: 20px;
}

/* Project Section */
.project-toggle-btn {
  padding: 4px 10px;
  border-radius: 50px;
  font-size: 14px;
  background-color: transparent;
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: var(--primary);
}
.project-toggle-btn-active {
  background-color: var(--primary);
  border: 1px solid transparent;
  color: white;
}
.project-card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  cursor: pointer;
}
.project-thumbnail {
  border-radius: 10px 10px 0 0;
  margin-bottom: 12px;
}
.project-title {
  font-family: var(--jostFont);
  font-size: 20px;
  font-weight: 500;
  color: var(--heading);
  margin: 10px 0 4px;
}
.project-text {
  font-size: 14px;
  font-weight: 300;
  color: var(--text);
}
.project-badge {
  background-color: #f8f6ff;
  color: var(--purple);
  font-size: 11px;
  padding: 4px 12px;
  border-radius: 50px;
  cursor: pointer;
}
.project-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5px 0;
  gap: 3px;
  border-radius: 50px;
  font-size: 12px;
  font-family: var(--jostFont);
  color: white;
  background-image: linear-gradient(
    to right,
    #02aab0 0%,
    #00cdac 51%,
    #02aab0 100%
  );
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
}
.project-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
.explore-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 12px 0;
  border-radius: 0 0 10px 10px;
  font-size: 14px;
  background-color: var(--purple);
  font-family: var(--jostFont);
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
  color: white;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
}
.explore-btn:hover {
  background-position: right center; /* change the direction of the change here */
}
.project-footer-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  font-family: var(--jostFont);
  color: var(--primary);
  font-weight: 16px;
  font-weight: 500;
}
/* Project Modal */
.project-desc {
  font-size: 14px;
  color: var(--text);
}
.features-title {
  font-size: 15px;
  font-weight: 700;
  color: var(--heading);
  margin-bottom: 5px;
}
.features-bullet {
  font-size: 14px;
  color: var(--text);
  padding: 6px 0;
  list-style: square;
  margin-left: 18px;
}
.modal-project-badge {
  background-color: #f5222609;
  color: var(--primary);
  font-size: 12px;
  padding: 4px 16px;
  border-radius: 50px;
  cursor: pointer;
}
.modal-project-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 6px 0;
  gap: 3px;
  border-radius: 50px;
  font-size: 12px;
  font-family: var(--jostFont);
  cursor: pointer;
  background-image: linear-gradient(
    to right,
    #eb3349 0%,
    #f45c43 51%,
    #eb3349 100%
  );
  color: white;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
  transition: 0.5s;
}
.modal-project-btn:hover {
  background-position: right center; /* change the direction of the change here */
}

/* Contact.js */
#contact {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url("../images/contact.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.contact-heading-title {
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.contact-heading-text {
  font-size: 15px;
  font-weight: 300;
  color: whitesmoke;
  margin: 14px 0 32px;
}
.contact-title {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
}
.contact-text {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  color: white;
  margin-top: 4px;
  font-family: var(--jostFont);
}
input,
textarea {
  border: 0.5px solid rgb(32, 32, 32);
  background-color: rgba(20, 20, 20, 0.8);
  color: #f4f4f4 !important;
  border-radius: 30px;
  padding: 12px 20px !important;
  font-size: 14px !important;
}
input:focus,
textarea:focus {
  outline: none;
  border: 0.5px solid #797979;
  box-shadow: 0 0 8px rgb(100, 100, 100);
}
.send-msg-btn {
  margin-top: 20px;
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 10px 26px;
  border-radius: 50px;
  font-size: 16px;
  background-color: var(--primary) !important;
  border: 1px solid var(--primary);
  font-family: var(--jostFont);
  color: white;
  transition: 0.5s;
}
.send-msg-btn:hover {
  background-color: transparent !important;
  color: var(--primary);
}

/* Footer.js */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--jostFont);
  color: #f4f4f4;
  /* background-color: var(--greyBg); */
  height: 130px;
}

/* responsive for Mobile or Small devices */
@media screen and (max-width: 576px) {
  .banner-title {
    font-size: 38px;
    margin: 10px 0;
  }
  .banner-subtitle {
    font-size: 18px;
  }
  .banner-text {
    font-size: 16px;
    margin: 16px 0 20px 0;
  }
  .banner-designation {
    font-size: 18px;
  }
  .banner-left {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
/* responsive for Tablet or Medium devices */
@media only screen and (min-width: 576px) and (max-width: 960px) {
  .banner-left {
    display: flex;
    align-items: center;
    text-align: center;
  }
}
