.banner-title {
  font-family: var(--jostFont);
  font-weight: 500;
  font-size: 60px;
  color: var(--heading);
}
.banner-subtitle {
}
.banner-designation {
  font-family: var(--jostFont);
  font-size: 20px;
  font-weight: 400;
  color: var(--heading);
}
.greenText {
  color: var(--green);
}
.purpleText {
  color: var(--purple);
}
.about-btn {
  display: flex;
  align-items: center;
  gap: 6px;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  background-color: var(--primary);
  color: white;
  box-shadow: 0px 23px 44px 1px rgba(73, 219, 146, 0.48);
  -webkit-box-shadow: 0px 23px 44px 1px rgba(255, 109, 109, 0.48);
  -moz-box-shadow: 0px 23px 44px 1px rgba(255, 109, 109, 0.48);
}
.resume-btn {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 6px;
  padding: 10px 30px;
  border-radius: 50px;
  font-size: 14px;
  background-color: var(--primary);
  font-family: var(--jostFont);
  color: white;
  box-shadow: 0px 23px 44px 1px rgba(73, 219, 146, 0.48);
  -webkit-box-shadow: 0px 23px 44px 1px rgba(255, 109, 109, 0.48);
  -moz-box-shadow: 0px 23px 44px 1px rgba(255, 109, 109, 0.48);
}
.banner-img-div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 400px;
}
.banner-img-div::after {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-bottom: 8px solid var(--primary);
  border-right: 8px solid var(--primary);
  right: -25px;
  bottom: -25px;
}
.banner-img-div::before {
  content: "";
  position: absolute;
  height: 80px;
  width: 80px;
  border-top: 8px solid var(--primary);
  border-left: 8px solid var(--primary);
  left: -28px;
  top: -25px;
}
